body {
    background: rgb(29, 29, 29);
    color: rgb(250, 249, 249);
}

.navbar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#home-section {
    background: url(../img/rocket.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 750px;
}

#home-section .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 750px;
    background: rgba(19, 17, 17, 0.7);
}

#home-section .home-inner {
    padding-top: 150px;
}

#home-section .card-form {
    opacity: 5.0;
}

#explore-head-section .container {
    box-shadow: 0 4px 100px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
}

#explore-section .fas, #share-section .fas {
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}


